@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.js__menu {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.innerMenu {
  display: grid;
  height: 60vh;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: start;
}

.innerMenuItem {
  padding: 2rem 0rem 1rem 4rem;
  font-size: 24px;
  width: 100vw;
  height: 100%;
  cursor: pointer;
}

.innerMenuItem:hover {
  background-color: #5f2eea;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom: 1px #bca4ff solid;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subline {
  margin-top: 1.5rem;
  width: 100%;
  height: 1px;
  background-color: rgb(188, 164, 255);
}

h1 {
  padding: 15px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}
.panel .panel__input__containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.where__container {
  width: 100%;
}
.where__container .where {
  background-color: #fcfcfc;
  border-radius: 16px;
  border: 2px solid black;
  padding: 15px;
  width: 100%;
}

.dates__container {
  width: 100%;
}
.dates__container .dates {
  background-color: #fcfcfc;
  border-radius: 16px;
  border: 2px solid black;
  padding: 15px;
  width: 100%;
}

.people__container {
  width: 100%;
}
.people__container .people {
  background-color: #fcfcfc;
  border-radius: 16px;
  border: 2px solid black;
  padding: 15px;
  width: 100%;
}

.search__container {
  width: 100%;
}
.search__container .search {
  background-color: rgb(237, 46, 126);
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
}

::-webkit-input-placeholder {
  color: black;
  align-items: flex-start;
  text-overflow: ellipsis;
}

:-moz-placeholder {
  color: black;
  align-items: flex-start;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: black;
  align-items: flex-start;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  color: black;
  align-items: flex-start;
  text-overflow: ellipsis;
}

.burger {
  width: 40px;
}

.sidebar {
  background-color: #2a00a2;
  width: 360px;
  border-radius: 20px;
  margin-top: 3rem;
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.sidebar__form__title {
  color: #bca4ff;
  font-size: 24px;
  margin-left: 0.25rem;
}

.sidebar__form__container__options__individual__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 1rem;
}

.sidebar__form__container__options__individual__container__label {
  color: #f3efff;
  font-weight: 400;
  margin-left: 0.25rem;
}

.sidebar__form__container__options__individual__container__select {
  width: 310px;
  height: 59px;
  border-radius: 15px;
  background-color: #eff0f6;
  margin-top: 0.25rem;
  font-family: inherit;
  padding: 1rem;
  border-right: 16px solid transparent;
}

.sidebar__form__container__options__button {
  background-color: rgb(237, 46, 126);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.propertiesfound {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.propertiesfound .propertiesfound__item__title {
  font-size: 24px;
  font-weight: 700;
}
.propertiesfound .propertiesfound__item {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(217, 219, 233);
}
.propertiesfound .propertiesfound__item .propertiesfound__item__gallery {
  margin-top: 2rem;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__info {
  display: flex;
  flex-direction: column;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__rating {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__rating .propertiesfound__item__rating__stars {
  display: flex;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__rating .propertiesfound__item__rating__stars .propertiesfound__item__rating__star {
  padding-right: 0.5rem;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__rating .propertiesfound__item__newbutton {
  display: none;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__name {
  font-size: 24px;
  color: #5f2eea;
  font-weight: 600;
  margin-top: 1rem;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__showonmap {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__showonmap .propertiesfound__item__showonmap__text {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 18px;
  color: #5f2eea;
}
.propertiesfound .propertiesfound__item .propertiesfound__item__button {
  border-radius: 40px;
  border: 2px solid #d9dbe9;
  background-color: transparent;
  outline: none;
  margin-top: 1rem;
  width: 50%;
  color: #5f2eea;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.propertiesfound .propertiesfound__bottom__line {
  margin: 2.5rem;
  background-color: #d9dbe9;
  height: 1px;
  width: 100%;
}

.purple-box {
  background-image: url(../assets/purple-box.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 463px;
  border-radius: 25px 25px 25px 25px;
  margin-top: 2rem;
}
.purple-box div:nth-of-type(1) {
  margin-top: 70px;
  padding: 0 0.5rem;
  height: 260px;
}
.purple-box div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.purple-box div p {
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}
.purple-box .contactbutton {
  background-color: transparent;
  color: white;
  border-radius: 25px 25px 25px 25px;
  padding: 10px;
  border: 2px solid;
  width: 300px;
  padding: 1rem 0;
  font-weight: 600;
}

.greencontainer {
  box-sizing: border-box;
  background-color: rgb(242, 255, 251);
  color: rgb(0, 150, 109);
  width: 360px;
  padding: 1rem;
  border-radius: 25px 25px 25px 25px;
  border-color: rgb(0, 150, 109);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  border: 2px solid #00ba88;
  border-radius: 16px;
  padding: 0 1.5rem;
}
.greencontainer .greencontainer__info__container {
  display: flex;
  flex-direction: row;
}
.greencontainer .greencontainer__thumbsup__container {
  padding: 1.5rem 1rem 1rem 0;
}
.greencontainer .greencontainer__thumbsup__container__cross {
  align-self: center;
}

.redcontainer {
  box-sizing: border-box;
  background-color: rgb(255, 243, 248);
  color: rgb(237, 46, 126);
  width: 360px;
  padding: 1rem;
  border-radius: 25px 25px 25px 25px;
  border-color: rgb(237, 46, 126);
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(237, 46, 126);
  border-radius: 16px;
  padding: 0 1.5rem;
  font-size: 14px;
}
.redcontainer .redcontainer__info__container {
  display: flex;
  flex-direction: row;
}
.redcontainer .redcontainer__alert__container {
  padding: 1.5rem 1rem 1rem 0;
}
.redcontainer .redcontainer__alert__container__cross {
  align-self: center;
}

footer {
  font-family: "Poppins", sans-serif;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 3rem;
}
footer > p {
  text-align: center;
}

.notifications__container > div {
  margin-top: 2rem;
}

.services,
.continents {
  display: none;
}

@media (min-width: 1200px) {
  body {
    margin: 2rem;
  }
  .panel {
    width: 100%;
  }
  .panel .panel__input__containers {
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.6fr 0.25fr;
    gap: 50px;
  }
  .panel .where {
    width: 100%;
  }
  .panel .dates {
    width: 100%;
  }
  .panel .people {
    width: 100%;
  }
  .panel .search {
    width: 100%;
  }
  .searchandproperties {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: start;
  }
  .propertiesfound__item__button {
    display: none;
  }
  .propertiesfound__item__newbutton {
    border-radius: 40px;
    border: 2px solid #d9dbe9;
    background-color: transparent;
    outline: none;
    margin-top: 1rem;
    width: 50%;
    color: #5f2eea;
    font-size: 14px;
    font-weight: 600;
    padding: 0.5rem 1rem;
  }
  .propertiesfound .propertiesfound__item .propertiesfound__item__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .propertiesfound__item__rating__stars {
    display: flex;
  }
  .propertiesfound__item__galleryandinfo {
    display: flex;
    gap: 50px;
  }
  .greencontainer,
.redcontainer {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 0.05fr 1fr 0.3fr;
  }
  .greencontainer__thumbsup__container__cross,
.redcontainer__alert__container__cross {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .purple-box {
    width: 100%;
    background-size: cover;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    padding-bottom: 4rem;
  }
  .services,
.continents {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .contact h2 {
    padding: 0;
  }
  .services {
    display: flex;
    flex-direction: column;
  }
  .services .services__menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .continents {
    display: flex;
    flex-direction: column;
  }
  .continents .continents__menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .travelulu__footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .travelulu__footer__image {
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
